@model AdminDashBoard.Models.Category

@{
    ViewData["Title"] = "Create Category Page";
}






                <div class="row h-100 align-items-center justify-content-center" style="height: 100vh">
                    <div class="col-6 ">
                        <div class="bg-secondary rounded p-2 p-sm-5 my-2 mx-3">
                            <div class="text-center">

                                <h3>Create New Product</h3>
                            </div>
                            <form asp-action="Create" method="post" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="NameArabic" class="control-label"></label>
                                    <input asp-for="NameArabic" class="form-control" />
                                    <span asp-validation-for="NameArabic" class="text-danger"></span>
                                </div>

                @if (@Model.category != null)
                {
                    <div class="text-white mt-2">
                        <label asp-for="ParentCategory"></label>
                        <select asp-for="ParentCategory" asp-items="@Model.category" class="form-control">
                        </select>
                    </div>
                }

                                <div class="form-group">
                                    <label asp-for="Images" class="control-label"></label>
                                    <input asp-for="Images" type="file" class="form-control" />
                                    <span asp-validation-for="Images" class="text-danger"></span>
                                </div>

                                <div class="form-group text-center mb-3">
                                    <input type="submit" value="Create" class="btn btn-primary " />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

